@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
  padding: 0px;
  margin: 0px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;

}

:root {
  --primary-color: white;
  --primary-cursor: pointer;
  --computer-color: green;
}

body {
  text-align: center;
  background-color: #000080;
}

/* CSS FOR MAIN MENU */
.mainMenu {
  color: var(--primary-color);
  height: 100%;
  width: 100%;
}

.titleMenu {
  font-size: 3rem;  
  text-align: center; 
  font-weight: bold;
}

.simon-logo {
  padding: 50px;
}

.playButton {
  text-align: center;
  font-size: 2rem;
  cursor: pointer;
  padding: 10px;
}

.instruction {
  text-align: center;
  font-size: 2rem;
  cursor: pointer;
  padding: 10px;
}

/* CSS FOR INSTRUCTION SCREEN */
.instructionScreen {
  color: var(--primary-color);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.instructions {
  font-size: 24px;
  color: white;
  margin: auto;
  position: absolute;
  top: 70%;
  bottom: 50%;
}

.returnButton {
  cursor: pointer;
  color: var(--primary-color);
  font-weight: bold;
  font-size: 32px;
  padding: 5px;
  position: absolute;
  top: 75%;
}



/* GAMEBOARD */

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  max-height: 150px;
  height: 150px;
  max-width: 200px;
  width: 100%;
  border: 5px solid black;
  padding: 20px;
}


.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}


.gameReturnBtn {
  color: var(--primary-color);
  cursor: var(--primary-cursor);
}


#levelTitle {
color: white;
font-size: 36px;
margin: 30px;
}


.btn:active {
box-shadow: 7px 7px 10px white;
transform: translateY(5px);
border-width: 10px;
}


.add {
box-shadow: 10px 10px 10px red;
}

.restart {
color: var(--primary-color);
cursor: pointer;
font-size: 2rem;
}



/* HIDING THE ELEMENTS */
.hidden {
  display: none;
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  .titleMenu {
    font-size: 2rem;
  }
  .simon-logo {
    padding: 10px;
  }
  .instructions {
    top: 70%;
    font-size: 16px;
  }

  .returnButton {
    font-size: 16px;
    top: 90%;
  }
}