@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
  padding: 0px;
  margin: 0px;
  cursor: var(--computer-cursor);
  font-family: "Comic Sans MS", "Comic Sans", cursive;

}

:root {
  --primary-color: white;
  --primary-cursor: pointer;
  --computer-color: green;
  --computer-cursor: url(/images/cursor.png), auto;
}

body {
  text-align: center;
  background-image: url("../images/nyan.gif");
  background-size: 1000px auto;
  /* background-repeat: repeat; */
}

/* CSS FOR MAIN MENU */
.mainMenu {
  color: var(--primary-color);
  height: 100%;
  width: 100%;
}

.titleMenu {
  font-size: 6rem;  
  text-align: center; 
  font-weight: bold;
}

.playButton {
  text-align: center;
  margin: 120px auto;
  font-size: 2rem;
  cursor: var(--computer-cursor);
}

.instruction {
  text-align: center;
  margin: 60px auto;
  font-size: 2rem;
  cursor: var(--computer-cursor);
  bottom: 16px;
}

/* CSS FOR INSTRUCTION SCREEN */
.instructionScreen {
color: var(--primary-color);
font-weight: bold;
}


.instructions {
margin: 200px;
font-size: 24px;
list-style-type: none;

}

.returnButton {
cursor: var(--computer-cursor);
color: var(--primary-color);
font-weight: bold;
font-size: 32px;
}



/* GAMEBOARD */

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 5px solid black;
  padding: 20px;
}

.row {
  display: block;

}

.red {
  background-image: url(../images/kid.jpeg);
  background-size: 100%;  
  /* background-color: red; */

}

.green {
  background-image: url(../images/dog.jpeg);
  background-size: 100%;
  /* background-color: green; */
}

.blue {
  background-image: url(../images/google.jpeg);
  background-size: 100%;
}

.yellow {
  background-image: url(../images/toby.png);
  background-size: 100%;
}


.gameReturnBtn {
  color: var(--primary-color);
  cursor: var(--primary-cursor);
}


#levelTitle {
color: white;
font-size: 2rem;
margin: 30px;
}


.btn:active {
box-shadow: 7px 7px 10px white;
transform: translateY(5px);
border-width: 10px;
}


.add {
box-shadow: 10px 10px 10px red;
}

.restart {
color: var(--primary-color);
cursor: pointer;
}



/* HIDING THE ELEMENTS */
.hidden {
  display: none;
}